[Unit]
Description = xmr-stak
After = network.target

[Service]
Type = simple
PIDFile = /run/xmr-stak.pid
ExecStart = /opt/xmr-stak/build/bin/start-service.sh
Restart = on-failure
ExecReload = /sbin/start-stop-daemon #determine if needed

[Install]
WantedBy = multi-user.target
